<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>First Express App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div>
        <h1>Todo App</h1>
        <div>
            <p>Add you todo</p>
            <form method="POST">
                <input name="todo" />
                <button type="submit">Submit</button>
            </form>
            <% todos.forEach((todo, i) => { %>
                <form action="/delete/<%= i %>">
                    <p><%= todo %></p>
                    <button>Del</button>
                </form>
            <% }) %>
        </div>
    </div>
</body>
</html>